body{
    background-color: blanchedalmond;
}
h1{
    font-family: monotype cursive;
    font-size: 40px;
    text-align: center;
    color: blue;
}
h2{
    font-family: 'Times New Roman';
    font-size: 35px;
    text-align: center;
}
p{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
image{
    width: 500px;
    height: 300px;
}
.geral{
    width: 900px;
    margin: auto;
    background-color: bisque;
}
